.btn {
    border-radius: 0px;
}

.btn-outline {
    background: transparent;
    transition: all .5s;
    color: inherit;
    &:hover, &:focus {
        color: #fff!important;
    }
}

.btn-white {
    background: #fff!important;
    color: inherit;
}
.btn-default {
    background: #f3f3f3;
    border-color: #f3f3f3;
}

.btn-default.btn-outline {
    color: @btn-default-color;
    border-color: @btn-default-border;
    background: #fff;
    &:hover, &:focus {
        background: #f3f3f3;
        color: @btn-default-color!important;
    }
}
.btn-primary.btn-outline {
    color: @btn-primary-border;
}
.btn-success.btn-outline {
    color: @btn-success-border;
}
.btn-danger.btn-outline {
    color: @btn-danger-border;
}
.btn-warning.btn-outline {
    color: @btn-warning-border;
}
.btn-info.btn-outline {
    color: @btn-info-border;
}

.btn-circle {
    border-radius: 50%;
}

.btn-circle, .btn-square {
    padding: 6px 9px;
    &.btn-lg {
        padding: 12px 13px;
    }
    &.btn-sm {
        padding: 5px 8px;
    }
    &.btn-xs {
        padding: 1px 4px;
    }
}
