.white-bg {
    background-color: #fff;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: 200;
}

a {
    &:hover, &:focus {
        text-decoration: none;
    }
}


.font-bold {
    font-weight: 600;
}
