.modal-content {
    .box-shadow(0 1px 3px rgba(0, 0, 0, 0.3));
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0);
}

.modal-header {
    position: relative;
    .h4, h4 {
        margin: 0;
        color: @global-dark;
        font-size: 16px;
        line-height: 20px;
        font-weight: 600;
    }

    .icon-close {
        font-weight: 600;
        cursor: pointer;
        color: @global-gray;
        display: inline-block;
        line-height: 1;
        position: absolute;
        top: 18px;
        right: 15px;
        &:hover, &:focus {
            color: @global-dark;
        }
    }
}
