/**
  全局配色方案
*/

@global-primary: #00b459; //主色调
@global-gray: #999; //字体默认颜色
@global-default: #666;
@global-dark: #333;

@brand-primary:         #00b459;//#1ab394;
@brand-success:         #00cf9d;
@brand-info:            #539be5;
@brand-warning:         #ff7200;
@brand-danger:          #ff0000;

@font-path: './fonts';//字体路径
